.profile {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 1em;
  align-items: center;
}

.user__pic {
  border: 0.1em solid black;
  border-radius: 999px;
  height: 8em;
  width: auto;
  overflow: hidden;
}

.user__pic-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user__name {
  font-size: 1.5em;
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
}

.about__title {
  margin: 0;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.about__description {
  margin: 0;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

.stats__border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.1em solid black;
  border-radius: 10px;
  padding-left: 0.4em;
  padding-right: 1em;
  width: 4em;
}

.stats__icon {
  height: auto;
  width: 2em;
}

.modals {
  padding-top: 3em;
  font-size: 1.25em;
}

.modals__darkmode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modals__settings {
  text-decoration: none;
  color: black;
}

.modals__switch {
  position: relative;
  display: inline-block;
  height: 2em;
  width: 3.5em;
}

.modals__switch input {
  height: 0;
  width: 0;
}

.modals__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.1em solid black;
  border-radius: 30px;
}

.modals__slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 0.175em;
  bottom: 0.15em;
  border-radius: 30px;
  background-color: black;
}

input:checked + .modals__slider:before {
  transform: translateX(26px);
}